.env
Design2Code/
models/__pycache__/gemini.cpython-310.pyc
*.zip
.DS_Store
gemini/results/
gemini/rendered_imgs/
design2code-18b-v0/rendered_imgs/
design2code-18b-v0/predictions/
design2code-18b-v0/clean_htmls/
design2code-18b-v0/clean_htmls/
design2code-18b-v0/clean_imgs/
design2code-18b-v0/perturbed_imgs/
gemini/perturb_dataURI.txt
detailed_results_websight.json
all_results_qwen.xlsx
gemini/gemini_results_perturbed.xlsx
gemini/evaluation_results/iou_scores_perturbed.xlsx
gemini/evaluation_results/iou_scores_clean.xlsx
gemini/evaluation_results/structural_alignment_scores_perturbed.xlsx
gemini/evaluation_results/structural_alignment_scores_clean.xlsx
