.env
Design2Code/
models/__pycache__/gemini.cpython-310.pyc
*.zip
*.html
gemini/gemini_results.txt
gemini/gemini_results2.txt
gemini/gemini_results3.txt
gemini/results/gemini-2.5-flash.zip
design2code-18b-v0/predictions-20251201T151625Z-1-001.zip
metrics/visual_fidelity/rendered_imgs/
